@model estore.Models.Contact

@{
    ViewData["Title"] = "Liên hệ";
}
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Liên hệ với chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-section">
    <div class="container">
       
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Nhập tin nhắn</h2>
            </div>
            <div class="col-lg-8">
                <form asp-controller="Contact" asp-action="AddContact" method="post" class="form-contact" >
                    <div asp-validation-summary="All" class="text-danger mb-2"></div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea asp-for="Message" class="form-control w-100" cols="30" rows="9" placeholder="Nhập nội dung liên hệ"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control valid" type="text" placeholder="Họ tên">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control valid" type="email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Gửi liên hệ</button>
                    </div>
                </form>

                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success mt-2">@ViewBag.Success</div>
                }
            </div>

            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Thành phố vinh, Nghệ An.</h3>
                        <p>182, Lê Duẩn</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+84 94729884</h3>
                        <p>Hoạt động từ 9am đến 9pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>estore@gmail.com</h3>
                        <p>Trả lời bạn sớm nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


