@model estore.Models.Products
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="page-title">
        <h2>Thêm mới sản phẩm </h2>
    </div>
    <div class="container shadow p-5">
        <form method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Tên sản phẩm</label>
                    <input type="text" class="form-control mb-3" asp-for="Name" />
                    <span asp-validation-for="Name" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link">Đường dẫn</label>
                    <input type="text" class="form-control mb-3" asp-for="Link" />
                    <span asp-validation-for="Link" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title">Tiêu đề</label>
                    <input type="text" class="form-control mb-3" asp-for="Title" />
                    <span asp-validation-for="Title" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents">Nội dung</label>
                    <textarea class="form-control mb-3" asp-for="Contents">
                    </textarea>
                    <span asp-validation-for="Contents" class="alert-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Chọn ảnh sản phẩm</label>
                    <input type="file" name="ImageFile" class="form-control" />
                </div>

                @* <div class="form-group">
                    <label asp-for="Images">Hình ảnh</label>
                    <input type="text" class="form-control mb-3" asp-for="Images" />
                    <span asp-validation-for="Images" class="alert-danger"></span>
                </div> *@

                <div class="form-group">
                    <label asp-for="Price">Giá sản phẩm</label>
                    <input type="number" class="form-control mb-3" asp-for="Price" />
                    <span asp-validation-for="Price" class="alert-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CategoriId">Chọn danh mục</label>
                    <select asp-for="CategoriId" class="form-control">
                        <option value="0" disabled>Vui lòng lựa chọn size</option>
                        <option value="1">Áo nam</option>
                        <option value="2">Áo nữ</option>
                        <option value="3">Quần nam</option>
                        <option value="4">Quần nữ</option>
                        <option value="5">Phụ kiện</option>
                        <option value="6">Giày nam</option>
                        <option value="7">Giày nữ</option>
                    </select>
                    <span asp-validation-for="CategoriId" class="alert-danger"></span>

                </div>
                <hr />

                <div class="form-group mt-5 mb-5">
                    <label>
                        @Html.CheckBox("IsActive", false)
                        Hiển thị
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
            <a asp-controller="product" asp-action="index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>

    </div>
</main>



